<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.woojinroom.hangto">
    <uses-permission android:name="android.permission.INTERNET" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HangTo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
         >
        <activity android:name=".Splash.SplashActivity_"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginActivity">

        </activity>
        <activity android:name=".nationActivity">

        </activity>
        <activity android:name=".joinActivity">

    </activity>
        <activity android:name=".messageActivity">

        </activity>
        <activity android:name=".writingActivity">

        </activity>
        <activity android:name=".profileActivity">

        </activity>
        <activity android:name=".searchActivity">

        </activity>
        <activity android:name=".Write.writeActivity">

    </activity>
        <activity android:name=".TabActivity.TabActivity_"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".editActivity">

        </activity>
        <activity android:name=".History.historyActivity">

        </activity>
        <activity android:name=".Write.spotActivity">

        </activity>
        <activity android:name=".requestActivity">

        </activity>
        <activity android:name=".requestDocumentActivity">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD21FRFG1Qgl9oYJv2VRbwlXwQ_avmzr_A"/>

    </application>

</manifest>